body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
}

footer {
    margin: 0 auto;
    padding: .25em;
}

.app-container {
    flex: 1;       /* take up remaining space */
    min-height: 0; /* allow shrinking */
}

#app {
    height: 100%; /* limit height for .target-container to overflow correctly */
}

.targets-container {
    display: flex;
    height: 100%;  /* limit height for .target-container to overflow correctly */
    padding: 0 5em;

    & > * {
        flex: 1;      /* distribute space evenly among children */
        min-width: 0; /* allow shrinking */
    }
}

.target-container {
    overflow: auto; /* show scroll bars for each target separately */
}

:root {
    --highlight-color: cadetblue;
    --unmatched-color: crimson;
    --match-color: mediumseagreen;
    --matched-by-own-target-color: sandybrown;
    --matched-by-other-target-color: seagreen;
    --contains-matches-color: darkseagreen;
    --contains-unmatched-color: slategray;
}

.selected {
    background-color: var(--highlight-color);
}

.file {
    color: var(--unmatched-color);

    &.matched-by-own-target {
        color: var(--matched-by-own-target-color);
    }
    &.matched-by-other-target {
        /*color: var(--matched-by-other-target-color);*/
        color: inherit;
    }
}

.name, .file {
    font-family: "ui-monospace", monospace;
    border: 2px solid transparent;
    border-radius: 3px;
    margin: 1px;
}

.matching {
    background-color: var(--match-color);
}

.contains-matching > .name {
    border-color: var(--contains-matches-color);
}

.contains-all-matching > .name {
    background-color: var(--contains-matches-color);
}

.legend {
    display: flex;
    gap: 1em;
    .entry {
        display: inline-block;
        .marker {
            display: inline-block;
            width: 1em;
        }
    }
}
